/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

:root {
    -moz-tab-size: 4;
    tab-size: 4
}

small {
    font-size: 80%
}

table {
    text-indent: 0;
    border-color: inherit
}

button,
input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button {
    text-transform: none
}

[type=button],
button {
    -webkit-appearance: button
}

h1,
h3,
p {
    margin: 0
}

button {
    background-color: transparent;
    background-image: none
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

* {
    box-sizing: border-box;
    border: 0 solid #e5e7eb
}

input::placeholder {
    color: #9ca3af
}

button {
    cursor: pointer
}

table {
    border-collapse: collapse
}

h1,
h3 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button,
input {
    padding: 0;
    line-height: inherit;
    color: inherit
}

svg {
    display: block;
    vertical-align: middle;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
}

.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgba(249, 250, 251, var(--tw-bg-opacity))
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity))
}

.bg-gray-300 {
    --tw-bg-opacity: 1;
    background-color: rgba(209, 213, 219, var(--tw-bg-opacity))
}

.bg-blue-400 {
    --tw-bg-opacity: 1;
    background-color: rgba(96, 165, 250, var(--tw-bg-opacity))
}

.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(59, 130, 246, var(--tw-bg-opacity))
}

.hover\:bg-gray-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(249, 250, 251, var(--tw-bg-opacity))
}

.hover\:bg-blue-400:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(96, 165, 250, var(--tw-bg-opacity))
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity))
}

.border-red-400 {
    --tw-border-opacity: 1;
    border-color: rgba(248, 113, 113, var(--tw-border-opacity))
}

.border-blue-400 {
    --tw-border-opacity: 1;
    border-color: rgba(96, 165, 250, var(--tw-border-opacity))
}

.focus\:border-blue-400:focus {
    --tw-border-opacity: 1;
    border-color: rgba(96, 165, 250, var(--tw-border-opacity))
}

.rounded {
    border-radius: .25rem
}

.rounded-md {
    border-radius: .375rem
}

.rounded-lg {
    border-radius: .5rem
}

.border {
    border-width: 1px
}

.border-r {
    border-right-width: 1px
}

.border-b {
    border-bottom-width: 1px
}

.cursor-pointer {
    cursor: pointer
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.table {
    display: table
}

.hidden {
    display: none
}

.flex-row-reverse {
    flex-direction: row-reverse
}

.flex-col {
    flex-direction: column
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-evenly {
    justify-content: space-evenly
}

.flex-1 {
    flex: 1 1 0%
}

.font-extralight {
    font-weight: 200
}

.font-light {
    font-weight: 300
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.font-bold {
    font-weight: 700
}

.h-6 {
    height: 1.5rem
}

.h-7 {
    height: 1.75rem
}

.h-10 {
    height: 2.5rem
}

.h-64 {
    height: 16rem
}

.h-3\/4 {
    height: 75%
}

.h-5\/6 {
    height: 83.333333%
}

.h-screen {
    height: 100vh
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.text-lg {
    font-size: 1.125rem
}

.text-lg,
.text-xl {
    line-height: 1.75rem
}

.text-xl {
    font-size: 1.25rem
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
}

.leading-4 {
    line-height: 1rem
}

.leading-none {
    line-height: 1
}

.my-1 {
    margin-top: .25rem;
    margin-bottom: .25rem
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem
}

.mx-3 {
    margin-left: .75rem;
    margin-right: .75rem
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.mx-10 {
    margin-left: 2.5rem;
    margin-right: 2.5rem
}

.mr-1 {
    margin-right: .25rem
}

.mt-2 {
    margin-top: .5rem
}

.ml-2 {
    margin-left: .5rem
}

.mt-3 {
    margin-top: .75rem
}

.mb-3 {
    margin-bottom: .75rem
}

.mt-5 {
    margin-top: 1.25rem
}

.mt-10 {
    margin-top: 2.5rem
}

.min-w-full {
    min-width: 100%
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.overflow-y-auto {
    overflow-y: auto
}

.overflow-x-hidden {
    overflow-x: hidden
}

.p-1 {
    padding: .25rem
}

.p-2 {
    padding: .5rem
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.pb-1 {
    padding-bottom: .25rem
}

.pt-40 {
    padding-top: 10rem
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.top-2 {
    top: .5rem
}

.right-5 {
    right: 1.25rem
}

.top-1\/2 {
    top: 50%
}

.left-1\/2 {
    left: 50%
}

* {
    --tw-shadow: 0 0 transparent
}

* {
    --tw-ring-inset: var(--tw-empty, /*!*/
    /*!*/
    );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent
}

.text-center {
    text-align: center
}

.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity))
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity))
}

.text-red-400 {
    --tw-text-opacity: 1;
    color: rgba(248, 113, 113, var(--tw-text-opacity))
}

.text-green-400 {
    --tw-text-opacity: 1;
    color: rgba(52, 211, 153, var(--tw-text-opacity))
}

.text-blue-400 {
    --tw-text-opacity: 1;
    color: rgba(96, 165, 250, var(--tw-text-opacity))
}

.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.hover\:text-red-500:hover {
    --tw-text-opacity: 1;
    color: rgba(239, 68, 68, var(--tw-text-opacity))
}

.uppercase {
    text-transform: uppercase
}

.capitalize {
    text-transform: capitalize
}

.tracking-wide {
    letter-spacing: .025em
}

.tracking-wider {
    letter-spacing: .05em
}

.align-middle {
    vertical-align: middle
}

.w-0 {
    width: 0
}

.w-5 {
    width: 1.25rem
}

.w-6 {
    width: 1.5rem
}

.w-56 {
    width: 14rem
}

.w-1\/2 {
    width: 50%
}

.w-5\/6 {
    width: 83.333333%
}

.w-full {
    width: 100%
}

.w-max {
    width: max-content
}

.transform {
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%
}

.-translate-y-1\/2 {
    --tw-translate-y: -50%
}

.transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.ease-in {
    transition-timing-function: cubic-bezier(.4, 0, 1, 1)
}

.duration-700 {
    transition-duration: .7s
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@keyframes ping {
    75%,
    to {
        transform: scale(2);
        opacity: 0
    }
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

@keyframes bounce {
    0%,
    to {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1)
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, .2, 1)
    }
}

.bg-overlay {
    background-image: linear-gradient(rgba(54, 247, 202, .85), rgba(54, 247, 202, .85)), url(./assets/full-screen-image-3.jpg);
    background-size: cover
}

.sidebar-bg-1 {
    background-image: linear-gradient(rgba(135, 34, 194, .425), rgba(161, 3, 252, .85)), url(./assets/sidebar-2.jpg);
    background-size: cover
}

.nav-item {
    border-radius: .5rem;
    display: flex;
    align-items: center;
    margin-left: .75rem;
    margin-right: .75rem;
    margin-top: 1rem;
    padding: .75rem;
    --tw-text-opacity: 1;
    color: rgba(243, 244, 246, var(--tw-text-opacity));
    width: 12rem
}

.nav-active,
.nav-hover:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    --tw-bg-opacity: 0.25
}

.btn {
    --tw-bg-opacity: 1;
    background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
    border-radius: .375rem;
    margin-left: .75rem;
    padding: .5rem;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.th-data {
    --tw-bg-opacity: 1;
    background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
    font-size: .75rem;
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
    text-transform: uppercase;
    letter-spacing: .05em
}

.td-data,
.th-data {
    border-bottom-width: 1px;
    font-weight: 500;
    line-height: 1rem;
    padding: .75rem 1.5rem;
    text-align: left
}

.td-data {
    letter-spacing: .025em
}

@media (min-width:640px) {
    .sm\:p-2 {
        padding: .5rem
    }
}

@media (min-width:768px) {
    .md\:mx-28 {
        margin-left: 7rem;
        margin-right: 7rem
    }
    .md\:w-3\/4 {
        width: 75%
    }
}

@media (min-width:1024px) {
    .lg\:block {
        display: block
    }
    .lg\:hidden {
        display: none
    }
    .lg\:mx-96 {
        margin-left: 24rem;
        margin-right: 24rem
    }
    .lg\:w-56 {
        width: 14rem
    }
    .lg\:w-1\/2 {
        width: 50%
    }
    .lg\:w-1\/4 {
        width: 25%
    }
}